asgiref
astroid
beautifulsoup4
certifi
cloudinary
colorama
colorful
dj-database-url
Django
django-admin-thumbnails
django-appconf
django-ckeditor
django-colorfield
django-colorful
django-crispy-forms
django-js-asset
django-jsonresponse
django-livereload-server
django-maskurl
django-mptt
django-multiselectfield
gunicorn
isort
lazy-object-proxy
MarkupSafe
mccabe
pilkit
Pillow
psycopg2-binary
pylint
pytz
six
soupsieve
sqlparse
toml
tornado
urllib3
whitenoise
wrapt
