<div class="card" style="border: solid 1px; border-color: gray; border-radius: 5px;">
    <div class="card-header" style="font-size: x-large; font-weight: bolder; padding: 20px; border-bottom: solid 1px; border-color: gray;">
       Product Details
    </div>
    <div class="card-body">
      <h5 class="card-title" style="padding-left: 11px; padding-top: 12px; font-size: large; color: #414141; font-weight: 100;">General</h5>
       <p class="card-text">
          <table class="table">
             <thead>
                <tr>
                   <th></th>
                   <th></th>
                </tr>
             </thead>
             <tbody>
                <tr>
                   <td>Type</td>
                   <td class="custom-color">{{product.TopWear_type}}</td>
                </tr>
                <tr>
                  <td>Sleeve</td>
                  <td class="custom-color">{{product.TopWear_Sleeve}}</td>
                </tr>
                <tr>
                   <td>Fit</td>
                   <td  class="custom-color">{{product.TopWear_Fit}}</td>
                </tr>
                <tr>
                   <td>Fabric</td>
                   <td  class="custom-color">{{product.TopWear_Fabric}}</td>
                </tr>
                <tr>
                   <td>SalesPackage</td>
                   <td  class="custom-color">{{product.TopWear_SalesPackage}}</td>
                </tr>
                <tr>
                   <td>StyleCode</td>
                   <td  class="custom-color">{{product.TopWear_StyleCode}}</td>
                </tr>
                <tr>
                   <td>NeckType</td>
                   <td  class="custom-color">{{product.TopWear_NeckType}}</td>
                </tr>
                <tr>
                   <td>IdealFor</td>
                   <td  class="custom-color">{{product.TopWear_IdealFor}}</td>
                </tr>
                <tr>
                   <td>Size</td>
                   <td  class="custom-color">{{product.TShirt_Size}}</td>
                </tr>
                <tr>
                   <td>Pattern</td>
                   <td  class="custom-color">{{product.TopWear_Pattern}}</td>
                </tr>
                <tr>
                  <td>SuitableFor</td>
                  <td  class="custom-color">{{product.TopWear_SuitableFor}}</td>
               </tr>
               <tr>
                  <td>SleeveType</td>
                  <td  class="custom-color">{{product.TopWear_SleeveType}}</td>
               </tr>
               <tr>
                  <td>Reversible</td>
                  <td  class="custom-color">{{product.TopWear_Reversible}}</td>
               </tr>
               <tr>
                  <td>FabricCare </td>
                  <td  class="custom-color">{{product.TShirt_FabricCare}}</td>
               </tr>
               <tr>
                  <td>OtherDetails</td>
                  <td  class="custom-color">{{product.TopWear_OtherDetails}}</td>
               </tr>
                 
             </tbody>
          </table>
       </p>
    </div>
 </div>
 