{% load static %}
{% block showtopwear %}
	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="/">Home</a></li>
				<li><a >{{parentname}}</a></li>
				<li><a >{{child_name}}</a></li>
				<li><a >{{subchild_name}}</a></li>
				<li class="active">{{product.name}}</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!--  Product Details -->
				{% if color_value.status == True %}
				<div class="product product-details clearfix">
					<div class="col-md-6">
						<div id="product-main-view">
							{% if color_value.mainimage.url is not None %}
							<div class="container">
								<div class="product-view">
									<img class="fix-image-alignment" src="{{color_value.mainimage.url}}" alt="">
								</div>
							</div>
                            {% endif %}

							{% if color_value.TopWear_image1.url is not None %}
							<div class="container">
								<div class="product-view">
									<img class="fix-image-alignment" src="{{color_value.TopWear_image1.url}}" alt="">
								</div>
							</div>
                            {% endif %}

							{% if color_value.TopWear_image2.url is not None %}
							<div class="container">
								<div class="product-view">
									<img class="fix-image-alignment" src="{{color_value.TopWear_image2.url}}" alt="">
								</div>
							</div>
							{% endif %}

							{% if color_value.TopWear_image4.url is not None %}
							<div class="container">
								<div class="product-view">
									<img class="fix-image-alignment" src="{{color_value.TopWear_image4.url}}" alt="">
								</div>
							</div>
							{% endif %}


							{% if color_value.TopWear_image5.url is not None %}
							<div class="container">
								<div class="product-view">
									<img class="fix-image-alignment" src="{{color_value.TopWear_image5.url}}" alt="">
								</div>
							</div>
							{% endif %}
						</div>
					
						<div id="product-view">
							{% if color_value.mainimage.url is not None %}
							<div class="product-view">
								<img class="fix-image-alignment" src="{{color_value.mainimage.url}}" alt="">
                            </div>
                            {% endif %}

                            {% if color_value.TopWear_image1.url is not None %}
							<div class="product-view">
								<img class="fix-image-alignment" src="{{color_value.TopWear_image1.url}}" alt="">
                            </div>
                            {% endif %}

							{% if color_value.TopWear_image2.url is not None %}
							<div class="product-view">
								<img class="fix-image-alignment" src="{{color_value.TopWear_image1.url}}" alt="">
							</div>
							{% endif %}

							{% if color_value.TopWear_image3.url is not None %}
								<div class="product-view">
									<img class="fix-image-alignment" src="{{color_value.TopWear_image3.url}}" alt="">
								</div>
							{% endif %}


							{% if color_value.TopWear_image4.url is not None %}
								<div class="product-view">
									<img class="fix-image-alignment" src="{{color_value.TopWear_image4.url}}" alt="">
								</div>
							
							{% endif %}

							{% if color_value.TopWear_image5.url is not None %}
								<div class="product-view">
									<img class="fix-image-alignment" src="{{color_value.TopWear_image5.url}}" alt="">
								</div>
							{% endif %}
						</div>
					</div>
					<div class="col-md-6">
						<div class="product-body">
							<div class="product-label">
								{% if product.is_product_new %}
								<span>New</span>
								{% endif %}
								<span class="sale">%{{color_value.size.discount_percentage_value}}</span>
							</div>
							<h2 class="product-name">{{product.name}}</h2>
							<h3 class="product-price">₹{{color_value.size.discount_price}}<del class="product-old-price">₹{{color_value.size.mrp}}</del></h3>
							<div>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o empty"></i>
								</div>
								<a href="#">3 Review(s) / Add Review</a>
							</div>
							{% if color_value.size.availability == 'In stock' and  color_value.availability == 'In stock' %}
							<p><strong>Availability: </strong><h2 style="color: green !important;">In stock</h2></p>
							{% else %}
								<p><strong>Availability: </strong><h2 style="color: red !important;">Out of stock</h2></p>
							{% endif %}
							<p><strong>Brand: </strong>{{product.brand}}</p>
							{% if product.seller.firstname is not None and product.seller.firstname is not None %}
							<p><strong>Seller: </strong>{{product.seller.firstname}} {{product.seller.lastname}}</p>
							{% else %}
							<p><strong>Seller: </strong>{{product.seller.firstname}}</p>
							{% endif %}
							<p>{{product.description| truncatechars:10 | safe}}</p>
							
								<div class="product-options">
									<ul class="size-option">
										<li><span class="text-uppercase"><b>Other Available Sizes:</b></span></li>
										{% for size in sizes %}
											{% for col in color_option %}
												{% if size.id == col.size_id %}
													{% if size.availability == 'In stock' and col.availability == 'In stock' %}
														<li><a href="/Topwear/show/{{childname_id}}/{{subchild_name}}/{{subchild_id}}/{{product.name}}/{{product.id}}/{{size.id}}/{{col.id}}">{{size}}</a></li>
													{% endif %}
												{% endif %}
											{% endfor %}
										{% endfor %}
									</ul>
									<ul class="color-option">
										<li><span class="text-uppercase"><b>Available Colors for Size {{color_value.size}}:</b></span></li>
										{% for color in colors %}
											{% if color.availability == 'In stock' and color.size.availability == 'In stock' %}
											<li class="active"><a href="/Topwear/show/{{childname_id}}/{{subchild_name}}/{{subchild_id}}/{{product.name}}/{{product.id}}/{{color.size_id}}/{{color.id}}" style="background-color:{{color.color}};"></a>{{color.color}}</li>
											{% endif %}
										{% endfor %}
									</ul>
								</div>

							<div class="product-btns">
								<form action="/orders/addtocart/{{subchild_id}}/{{product.id}}/{{color_value.id}}/" method="post">
									{% csrf_token %}
									<ul class="size-option">
										<li><span class="text"><h3>You Selected:</h3></span></li>
										{% if color_value.size.availability == 'In stock' %}
										<li class="active"><a href="">{{color_value.size}}</a></li>
										{% endif %}
										{% if color_value.availability == 'In stock' and color_value.size.availability == 'In stock' %}
										<li class="active"><a href="">{{color_value.color}}</a></li>
										{% endif %}
									</ul>
									<br>
									<!--<ul class="color-option">
										<li><span class="text-uppercase">Color:</span></li>
										{% for val in colors %}
										<li class="active"><a href="/Topwear/show/{{childname_id}}/{{subchild_name}}/{{subchild_id}}/{{product.name}}/{{product.id}}/{{val.size_id}}/{{val.id}}" style=""></a>{{val.color}}</li>
										{% endfor %}
									</ul>
									<br>-->
									<div class="qty-input">
										<span class="text-uppercase">QTY: </span>
										<input name="quantity" class="input" type="number" min="0" max="3">
									</div>
									{% if color_value.size.availability == 'In stock' and  color_value.availability == 'In stock' %}
									<button type="submit" class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
									{% endif %}
								</form>
								<div class="pull-right">
									<button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
									<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
									<button class="main-btn icon-btn"><i class="fa fa-share-alt"></i></button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="product-tab">
							<ul class="tab-nav">
								<li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
								<li><a data-toggle="tab" href="#tab3">Details</a></li>
								<li><a data-toggle="tab" href="#tab2">Reviews (3)</a></li>
							</ul>
							<div class="tab-content">
								<div id="tab1" class="tab-pane fade in active">
									<p>{{product.description | safe }}</p>
								</div>

								<div id="tab3" class="tab-pane fade in">
									{% if product.is_TopWear %}
										{% include 'fashion-table.html' %}
									{% endif %}
								</div>

								<div id="tab2" class="tab-pane fade in">

									<div class="row">
										<div class="col-md-6">
											<div class="product-reviews">
												<div class="single-review">
													<div class="review-heading">
														<div><a href="#"><i class="fa fa-user-o"></i> John</a></div>
														<div><a href="#"><i class="fa fa-clock-o"></i> 27 DEC 2017 / 8:0 PM</a></div>
														<div class="review-rating pull-right">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o empty"></i>
														</div>
													</div>
													<div class="review-body">
														<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute
															irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
													</div>
												</div>

												<div class="single-review">
													<div class="review-heading">
														<div><a href="#"><i class="fa fa-user-o"></i> John</a></div>
														<div><a href="#"><i class="fa fa-clock-o"></i> 27 DEC 2017 / 8:0 PM</a></div>
														<div class="review-rating pull-right">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o empty"></i>
														</div>
													</div>
													<div class="review-body">
														<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute
															irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
													</div>
												</div>

												<div class="single-review">
													<div class="review-heading">
														<div><a href="#"><i class="fa fa-user-o"></i> John</a></div>
														<div><a href="#"><i class="fa fa-clock-o"></i> 27 DEC 2017 / 8:0 PM</a></div>
														<div class="review-rating pull-right">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o empty"></i>
														</div>
													</div>
													<div class="review-body">
														<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute
															irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
													</div>
												</div>

												<ul class="reviews-pages">
													<li class="active">1</li>
													<li><a href="#">2</a></li>
													<li><a href="#">3</a></li>
													<li><a href="#"><i class="fa fa-caret-right"></i></a></li>
												</ul>
											</div>
										</div>
										<div class="col-md-6">
											<h4 class="text-uppercase">Write Your Review</h4>
											<p>Your email address will not be published.</p>
											<form class="review-form">
												<div class="form-group">
													<input class="input" type="text" placeholder="Your Name" />
												</div>
												<div class="form-group">
													<input class="input" type="email" placeholder="Email Address" />
												</div>
												<div class="form-group">
													<textarea class="input" placeholder="Your review"></textarea>
												</div>
												<div class="form-group">
													<div class="input-rating">
														<strong class="text-uppercase">Your Rating: </strong>
														<div class="stars">
															<input type="radio" id="star5" name="rating" value="5" /><label for="star5"></label>
															<input type="radio" id="star4" name="rating" value="4" /><label for="star4"></label>
															<input type="radio" id="star3" name="rating" value="3" /><label for="star3"></label>
															<input type="radio" id="star2" name="rating" value="2" /><label for="star2"></label>
															<input type="radio" id="star1" name="rating" value="1" /><label for="star1"></label>
														</div>
													</div>
												</div>
												<button class="primary-btn">Submit</button>
											</form>
										</div>
									</div>



								</div>
							</div>
						</div>
					</div>

				</div>
				{% endif %}
				<!-- /Product Details -->
				
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- section title -->
				<div class="col-md-12">
					<div class="section-title">
						<h2 class="title">Picked For You</h2>
					</div>
				</div>
				<!-- section title -->

				<!-- Product Single -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="product product-single">
						<div class="product-thumb">
							<button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
							<img src="./img/product04.jpg" alt="">
						</div>
						<div class="product-body">
							<h3 class="product-price">$32.50</h3>
							<div class="product-rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-o empty"></i>
							</div>
							<h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
							<div class="product-btns">
								<button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
								<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
								<button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
							</div>
						</div>
					</div>
				</div>
				<!-- /Product Single -->

				<!-- Product Single -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="product product-single">
						<div class="product-thumb">
							<div class="product-label">
								<span>New</span>
							</div>
							<button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
							<img src="./img/product03.jpg" alt="">
						</div>
						<div class="product-body">
							<h3 class="product-price">$32.50</h3>
							<div class="product-rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-o empty"></i>
							</div>
							<h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
							<div class="product-btns">
								<button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
								<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
								<button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
							</div>
						</div>
					</div>
				</div>
				<!-- /Product Single -->

				<!-- Product Single -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="product product-single">
						<div class="product-thumb">
							<div class="product-label">
								<span class="sale">-20%</span>
							</div>
							<button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
							<img src="./img/product02.jpg" alt="">
						</div>
						<div class="product-body">
							<h3 class="product-price">$32.50 <del class="product-old-price">$45.00</del></h3>
							<div class="product-rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-o empty"></i>
							</div>
							<h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
							<div class="product-btns">
								<button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
								<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
								<button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
							</div>
						</div>
					</div>
				</div>
				<!-- /Product Single -->

				<!-- Product Single -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="product product-single">
						<div class="product-thumb">
							<div class="product-label">
								<span>New</span>
								<span class="sale">-20%</span>
							</div>
							<button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
							<img src="./img/product01.jpg" alt="">
						</div>
						<div class="product-body">
							<h3 class="product-price">$32.50 <del class="product-old-price">$45.00</del></h3>
							<div class="product-rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-o empty"></i>
							</div>
							<h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
							<div class="product-btns">
								<button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
								<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
								<button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
							</div>
						</div>
					</div>
				</div>
				<!-- /Product Single -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->
{% endblock %}