<div class="card" style="border: solid 1px; border-color: gray; border-radius: 5px;">
   <div class="card-header" style="font-size: x-large; font-weight: bolder; padding: 20px; border-bottom: solid 1px; border-color: gray;">
      Specifications
   </div>
   <div class="card-body">
     <h5 class="card-title" style="padding-left: 11px; padding-top: 12px; font-size: large; color: #414141; font-weight: 100;">General</h5>
      <p class="card-text">
         <table class="table">
            <thead>
               <tr>
                  <th></th>
                  <th></th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>In The Box</td>
                  <td class="custom-color">{{product.in_the_box}}</td>
               </tr>
               <tr>
                  <td>Model Number</td>
                  <td  class="custom-color">{{product.model_number}}</td>
               </tr>
               <tr>
                  <td>Model Name</td>
                  <td  class="custom-color">{{product.model_name}}</td>
               </tr>
               <tr>
                  <td>Color</td>
                  <td  class="custom-color">{{product.color}}</td>
               </tr>
               <tr>
                  <td>Browse Type</td>
                  <td  class="custom-color">{{product.browser_type}}</td>
               </tr>
               <tr>
                  <td>SIM Type</td>
                  <td  class="custom-color">{{product.sim_type}}</td>
               </tr>
               <tr>
                  <td>Hybrid Sim Slot</td>
                  <td  class="custom-color">{{product.hybrid_sim_slot}}</td>
               </tr>
               <tr>
                  <td>Touchscreen</td>
                  <td  class="custom-color">{{product.touchscreen}}</td>
               </tr>
               <tr>
                  <td>OTG Compatible</td>
                  <td  class="custom-color">{{product.otg_compatible}}</td>
               </tr>
            </tbody>
         </table>
      </p>
   </div>
</div>
<div class="card" style="border: solid 1px; border-color: gray; border-radius: 5px;">
   <div class="card-body">
     <h5 class="card-title" style="padding-left: 11px; padding-top: 12px; font-size: large; color: #414141; font-weight: 100;">Display Features</h5>
      <p class="card-text">
         <table class="table">
            <thead>
               <tr>
                  <th></th>
                  <th></th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>Display Size</td>
                  <td class="custom-color">{{product.display_size}}</td>
               </tr>
               <tr>
                  <td>Resolution</td>
                  <td  class="custom-color">{{product.resolution}}</td>
               </tr>
               <tr>
                  <td>GPU</td>
                  <td  class="custom-color">{{product.gpu}}</td>
               </tr>
               <tr>
                  <td>Display Type</td>
                  <td  class="custom-color">{{product.display_type}}</td>
               </tr>
               <tr>
                  <td>Display Colors</td>
                  <td  class="custom-color">{{product.display_colors}}</td>
               </tr>
            </tbody>
         </table>
      </p>
   </div>
</div>
<div class="card" style="border: solid 1px; border-color: gray; border-radius: 5px;">
   <div class="card-body">
     <h5 class="card-title" style="padding-left: 11px; padding-top: 12px; font-size: large; color: #414141; font-weight: 100;">Os & Processor Features</h5>
      <p class="card-text">
         <table class="table">
            <thead>
               <tr>
                  <th></th>
                  <th></th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>Operating System</td>
                  <td class="custom-color">{{product.operating_system}}</td>
               </tr>
               <tr>
                  <td>Processor Type</td>
                  <td  class="custom-color">{{product.processor_type}}</td>
               </tr>
               <tr>
                  <td>Processor Core</td>
                  <td  class="custom-color">{{product.processor_core}}</td>
               </tr>
               <tr>
                  <td>Primary Clock Speed</td>
                  <td  class="custom-color">{{product.primary_clock_speed}}</td>
               </tr>
               <tr>
                  <td>Operating Frequency</td>
                  <td  class="custom-color">{{product.operating_frequency}}</td>
               </tr>
            </tbody>
         </table>
      </p>
   </div>
</div>
<div class="card" style="border: solid 1px; border-color: gray; border-radius: 5px;">
   <div class="card-body">
     <h5 class="card-title" style="padding-left: 11px; padding-top: 12px; font-size: large; color: #414141; font-weight: 100;">Memory & Storage Features</h5>
      <p class="card-text">
         <table class="table">
            <thead>
               <tr>
                  <th></th>
                  <th></th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>Internal Storage</td>
                  <td class="custom-color">{{product.internal_storage}}</td>
               </tr>
               <tr>
                  <td>RAM</td>
                  <td  class="custom-color">{{product.ram}}</td>
               </tr>
               <tr>
                  <td>Expandable Storage</td>
                  <td  class="custom-color">{{product.expandable_storage}}</td>
               </tr>
               <tr>
                  <td>Memory Card Slot Type</td>
                  <td  class="custom-color">{{product.memory_card_slot_type}}</td>
               </tr>
            </tbody>
         </table>
      </p>
   </div>
</div>
<div class="card" style="border: solid 1px; border-color: gray; border-radius: 5px;">
   <div class="card-body">
     <h5 class="card-title" style="padding-left: 11px; padding-top: 12px; font-size: large; color: #414141; font-weight: 100;">Camera Features</h5>
      <p class="card-text">
         <table class="table">
            <thead>
               <tr>
                  <th></th>
                  <th></th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>Primary Camera Available</td>
                  <td class="custom-color">{{product.primary_camera_available}}</td>
               </tr>
               <tr>
                  <td>Primary Camera</td>
                  <td  class="custom-color">{{product.primary_camera}}</td>
               </tr>
               <tr>
                  <td>Primary Camera Features</td>
                  <td  class="custom-color">{{product.primary_camera_features}}</td>
               </tr>
               <tr>
                  <td>Secondary Camera Available</td>
                  <td  class="custom-color">{{product.secondary_camera_available}}</td>
               </tr>
               <tr>
                  <td>Secondary Camera</td>
                  <td  class="custom-color">{{product.secondary_camera}}</td>
               </tr>
               <tr>
                  <td>Secondary Camera Features</td>
                  <td  class="custom-color">{{product.secondary_camera_features}}</td>
               </tr>
               <tr>
                  <td>Flash</td>
                  <td  class="custom-color">{{product.flash}}</td>
               </tr>
               <tr>
                  <td>Dual Camera Lens</td>
                  <td  class="custom-color">{{product.dual_camera_lens}}</td>
               </tr>
            </tbody>
         </table>
      </p>
   </div>
</div>
<div class="card" style="border: solid 1px; border-color: gray; border-radius: 5px;">
   <div class="card-body">
     <h5 class="card-title" style="padding-left: 11px; padding-top: 12px; font-size: large; color: #414141; font-weight: 100;">Call Features</h5>
      <p class="card-text">
         <table class="table">
            <thead>
               <tr>
                  <th></th>
                  <th></th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>Call Features</td>
                  <td class="custom-color">{{product.call_records}}</td>
               </tr>
            </tbody>
         </table>
      </p>
   </div>
</div>
<div class="card" style="border: solid 1px; border-color: gray; border-radius: 5px;">
   <div class="card-body">
     <h5 class="card-title" style="padding-left: 11px; padding-top: 12px; font-size: large; color: #414141; font-weight: 100;">Connectivity Features</h5>
      <p class="card-text">
         <table class="table">
            <thead>
               <tr>
                  <th></th>
                  <th></th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>Network Type</td>
                  <td class="custom-color">{{product.network_type}}</td>
               </tr>
               <tr>
                  <td>Supported Networks</td>
                  <td  class="custom-color">{{product.support_networks}}</td>
               </tr>
               <tr>
                  <td>Internet Connectivity</td>
                  <td  class="custom-color">{{product.internet_connectivity}}</td>
               </tr>
               <tr>
                  <td>Bluetooth Connectivity</td>
                  <td  class="custom-color">{{product.bluetooth_support}}</td>
               </tr>
               <tr>
                  <td>Infrared</td>
                  <td  class="custom-color">{{product.infrared}}</td>
               </tr>
               <tr>
                  <td>Audio Jack</td>
                  <td  class="custom-color">{{product.audio_jack}}</td>
               </tr>
               <tr>
                  <td>GPS Support</td>
                  <td  class="custom-color">{{product.gps_support}}</td>
               </tr>
            </tbody>
         </table>
      </p>
   </div>
</div>
<div class="card" style="border: solid 1px; border-color: gray; border-radius: 5px;">
   <div class="card-body">
     <h5 class="card-title" style="padding-left: 11px; padding-top: 12px; font-size: large; color: #414141; font-weight: 100;">Other Details</h5>
      <p class="card-text">
         <table class="table">
            <thead>
               <tr>
                  <th></th>
                  <th></th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>Smartphone</td>
                  <td class="custom-color">{{product.smartphone}}</td>
               </tr>
               <tr>
                  <td>Touchscreen Type</td>
                  <td  class="custom-color">{{product.touchscreen_type}}</td>
               </tr>
               <tr>
                  <td>User Interface</td>
                  <td  class="custom-color">{{product.user_interface}}</td>
               </tr>
               <tr>
                  <td>Removable Battery</td>
                  <td  class="custom-color">{{product.removable_battery}}</td>
               </tr>
               <tr>
                  <td>Sensors</td>
                  <td  class="custom-color">{{product.sensors}}</td>
               </tr>
               <tr>
                  <td>Ringtones Format</td>
                  <td  class="custom-color">{{product.ringtones_format}}</td>
               </tr>
               <tr>
                  <td>Other Features</td>
                  <td  class="custom-color">{{product.other_features}}</td>
               </tr>
            </tbody>
         </table>
      </p>
   </div>
</div>
<div class="card" style="border: solid 1px; border-color: gray; border-radius: 5px;">
   <div class="card-body">
     <h5 class="card-title" style="padding-left: 11px; padding-top: 12px; font-size: large; color: #414141; font-weight: 100;">Multimedia Features</h5>
      <p class="card-text">
         <table class="table">
            <thead>
               <tr>
                  <th></th>
                  <th></th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>Audio Formats</td>
                  <td class="custom-color">{{product.audio_formats}}</td>
               </tr>
               <tr>
                  <td>Video Formats</td>
                  <td  class="custom-color">{{product.video_formats}}</td>
               </tr>
            </tbody>
         </table>
      </p>
   </div>
</div>
<div class="card" style="border: solid 1px; border-color: gray; border-radius: 5px;">
   <div class="card-body">
     <h5 class="card-title" style="padding-left: 11px; padding-top: 12px; font-size: large; color: #414141; font-weight: 100;">Battery & Power Features</h5>
      <p class="card-text">
         <table class="table">
            <thead>
               <tr>
                  <th></th>
                  <th></th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>Battery Capacity</td>
                  <td class="custom-color">{{product.battery_capacity}}</td>
               </tr>
               <tr>
                  <td>Talk Time</td>
                  <td  class="custom-color">{{product.talk_time}}</td>
               </tr>
            </tbody>
         </table>
      </p>
   </div>
</div>
<div class="card" style="border: solid 1px; border-color: gray; border-radius: 5px;">
   <div class="card-body">
     <h5 class="card-title" style="padding-left: 11px; padding-top: 12px; font-size: large; color: #414141; font-weight: 100;">Dimensions</h5>
      <p class="card-text">
         <table class="table">
            <thead>
               <tr>
                  <th></th>
                  <th></th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>Width</td>
                  <td class="custom-color">{{product.width}}</td>
               </tr>
               <tr>
                  <td>Height</td>
                  <td  class="custom-color">{{product.height}}</td>
               </tr>
               <tr>
                  <td>Depth</td>
                  <td  class="custom-color">{{product.depth}}</td>
               </tr>
               <tr>
                  <td>Weight</td>
                  <td  class="custom-color">{{product.weight}}</td>
               </tr>
            </tbody>
         </table>
      </p>
   </div>
</div>
<div class="card" style="border: solid 1px; border-color: gray; border-radius: 5px;">
   <div class="card-body">
     <h5 class="card-title" style="padding-left: 11px; padding-top: 12px; font-size: large; color: #414141; font-weight: 100;">Warranty</h5>
      <p class="card-text">
         <table class="table">
            <thead>
               <tr>
                  <th></th>
                  <th></th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>Warranty Summary</td>
                  <td class="custom-color">{{product.warranty_summary}}</td>
               </tr>
            </tbody>
         </table>
      </p>
   </div>
</div>
