<ul class="color-option" >
    <li><span class="text-uppercase">Color:</span></li>
    {% for rs in current_varient_available_colors %}
        <input type="radio"  name="varient_id_1" id="varient_id_post_color_1" value="{{ rs.id }}" onchange="this.form.submit();">
        <input type="hidden" name="varient_size_id_1" id="varient_size_id_post_color_1" value="{{ rs.size_id }}">
        <input type="hidden" name="product_id_1" id="product_id_post_color_1" value="{{ rs.product_id }}">
        {% for image in images %}
            {% if image.id == rs.image_id %}
                <li  {% if varient_id == rs.id %} class="active" {% endif %}>
                    <a style="background-color:; color: #D9D9D9; text-shadow: 1px 1px #000000; width: 90px">
                    </a>
                    <img src="{{image.image.url}}" style="height: 70px">
                </li>
            {% endif %}
        {% endfor %}
    {% endfor %}
</ul>