{% load static %}
{% block wishlist %}
	<!-- section -->
	<!--<div class="section">-->
		<!-- container -->
		<div class="container" style="overflow-x: auto !important;">
			<!-- row -->
			<div class="row">
                {% if showwishlist == True and wishlist is not None %}
				<div class="col-md-12">
                    <div class="order-summary clearfix">
                        <div class="section-title">
                            <h3 class="title">Wishlist</h3>
                        </div>
                        <table class="shopping-cart-table table">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th></th>
                                    <th class="text-center">Price</th>
                                    <th class="text-right"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for wlist in wishlist %}
                                    {% for varient in  varients %}
                                        {% if wlist.varient_id == varient.id  %}
                                            <tr>
                                                {% for image in  images %}
                                                    {% if varient.image_id == image.id  %}
                                                        <td class="thumb"><img src="{{image.image.url}}" alt="{{image.title}}"></td>
                                                    {% endif %}
                                                {% endfor %}
                                                <td class="details">
                                                    <a href="#">{{varient.title}}</a>
                                                    <ul>
                                                        {% for size in sizes%}
                                                            {% if varient.image_id == size.id %}
                                                                <li><span>Size: {{size.name}}</span></li>
                                                            {% endif %}
                                                        {% endfor %}
                                                        {% for color in colors %}
                                                            {% if color.id ==  varient.color_id %}
                                                                <li><span>Color: {{color.name}}</span></li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </td>
                                                <td class="price text-center"><strong>₹{{varient.price}}</strong><br><del class="font-weak"><small>₹{{varient.orignal_price}}</small></del></td>
                                                {% if request.user.is_authenticated %}
                                                    <td class="text-right"><button class="main-btn icon-btn delete-wishlistitem" data-check=True data-order="{{wlist.id}}"><i class="fa fa-close"></i></button></td>
                                                {% else %}
                                                    <td class="text-right"><button class="main-btn icon-btn delete-wishlistitem" data-check=False data-order="{{wlist.id}}"><i class="fa fa-close"></i></button></td>
                                                {% endif %}
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
                {% else %}
                    <div class="product-thumb">
                        <img src="" alt="">
                    </div>
                    <div class="product-body" style="height:50vh;">
                        <h3 class="product-price"><span class="qty"></span>
                        <h5 class="product-name"><a href="#">Empty wishlist !</a></h5>
                    </div>
                {% endif %}
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	<!--</div>-->
	<!-- /section -->
{% endblock %}